{
    "openapi": "3.1.0",
    "info": {
        "title": "Book2000App",
        "version": "1.4.0"
    },
    "servers": [
        {
            "url": "http:\/\/book2000.ootw.development\/api"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "\/auth\/login": {
            "post": {
                "operationId": "authenticate.login",
                "tags": [
                    "Authenticate"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Unauthorised."
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "const": "Unauthorised"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "User login successfully."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/auth\/logout": {
            "get": {
                "operationId": "authenticate.logout",
                "tags": [
                    "Authenticate"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/batches\/register": {
            "post": {
                "operationId": "batch.register",
                "summary": "Register a batch",
                "tags": [
                    "Batch"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/BatchRegisterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "minItems": 0,
                                            "maxItems": 0,
                                            "additionalItems": false
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "transaction_id": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "transaction_id"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Inkoopkosten succesvol geregistreerd op de Winst- en Verliesrekening."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        },
        "\/sales\/register": {
            "post": {
                "operationId": "sales.register",
                "summary": "Register a sale",
                "tags": [
                    "Sales"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/SaleRegisterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "Foutafhandeling als er iets misgaat (bijv. ontbrekende grootboeken)",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "minItems": 0,
                                            "maxItems": 0,
                                            "additionalItems": false
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "5. Geef een succesvolle response terug met de gemaakte factuurgegevens",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "invoice_id": {
                                                    "type": "integer"
                                                },
                                                "invoice_number": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "invoice_id",
                                                "invoice_number"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Order succesvol geboekt in de administratie."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        },
        "\/transactions\/register": {
            "post": {
                "operationId": "transaction.register",
                "summary": "Register a new transaction, its journal entries and an optional invoice",
                "tags": [
                    "Transaction"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/TransactionRegisterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "minItems": 0,
                                            "maxItems": 0,
                                            "additionalItems": false
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "3. Return the created transaction.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "transaction_id": {
                                                    "type": "integer"
                                                },
                                                "number": {
                                                    "type": "string"
                                                },
                                                "uuid": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "transaction_id",
                                                "number",
                                                "uuid"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Transactie succesvol geregistreerd."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "http": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "BatchRegisterRequest": {
                "type": "object",
                "description": "Class RegisterRequest",
                "properties": {
                    "description": {
                        "type": "string",
                        "maxLength": 1024
                    },
                    "total_euro": {
                        "type": "number",
                        "description": "Bijv. \"Partij 100 LP's Koningsdag\"",
                        "minimum": 0.01
                    },
                    "purchase_date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Bijv. 200.00"
                    },
                    "payment_method": {
                        "$ref": "#\/components\/schemas\/PaymentMethod"
                    }
                },
                "required": [
                    "description",
                    "total_euro",
                    "purchase_date",
                    "payment_method"
                ],
                "title": "BatchRegisterRequest"
            },
            "LoginRequest": {
                "type": "object",
                "description": "Class LoginRequest",
                "properties": {
                    "username": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    }
                },
                "required": [
                    "username",
                    "password"
                ],
                "title": "LoginRequest"
            },
            "PaymentMethod": {
                "type": "string",
                "enum": [
                    "cash",
                    "bank",
                    "invoice"
                ],
                "title": "PaymentMethod"
            },
            "Platforms": {
                "type": "string",
                "enum": [
                    "marktplaats",
                    "vinted",
                    "discogs",
                    "direct",
                    "other"
                ],
                "title": "Platforms"
            },
            "SaleRegisterRequest": {
                "type": "object",
                "description": "Class RegisterRequest",
                "properties": {
                    "platform": {
                        "$ref": "#\/components\/schemas\/Platforms"
                    },
                    "gross_amount_cents": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "fee_cents": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "order_number": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "date": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "customer_name": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "customer_email": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "email"
                    },
                    "customer_address": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "maxLength": 2048
                    }
                },
                "required": [
                    "platform",
                    "gross_amount_cents",
                    "fee_cents",
                    "order_number",
                    "date",
                    "customer_name"
                ],
                "title": "SaleRegisterRequest"
            },
            "TransactionRegisterRequest": {
                "type": "object",
                "description": "Class TransactionRegisterRequest",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "The financial transaction itself.",
                        "maxLength": 1024
                    },
                    "booking_date": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "journal_entries": {
                        "type": "array",
                        "description": "The corresponding journal entries (double-entry bookkeeping).",
                        "items": {
                            "type": "object",
                            "properties": {
                                "ledger_code": {
                                    "type": "string"
                                },
                                "amount_cents": {
                                    "type": "integer"
                                },
                                "vat_box": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "maxLength": 255
                                }
                            },
                            "required": [
                                "ledger_code",
                                "amount_cents"
                            ]
                        },
                        "minItems": 2
                    },
                    "invoice": {
                        "type": "object",
                        "description": "An optional invoice with its items.",
                        "properties": {
                            "contact_id": {
                                "type": [
                                    "integer",
                                    "null"
                                ],
                                "description": "The invoice contact: either an existing contact (contact_id) or a new contact to create (contact)."
                            },
                            "contact": {
                                "type": [
                                    "object",
                                    "null"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "minLength": 3,
                                        "maxLength": 50
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "customer",
                                            "supplier"
                                        ]
                                    },
                                    "email": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "email"
                                    },
                                    "address": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "minLength": 3,
                                        "maxLength": 512
                                    },
                                    "coc_number": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "vat_number": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "iban": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    }
                                }
                            },
                            "type": {
                                "type": "string",
                                "maxLength": 255
                            },
                            "invoice_reference": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "maxLength": 255
                            },
                            "invoice_date": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "due_date": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "subtotal_cents": {
                                "type": "integer"
                            },
                            "vat_cents": {
                                "type": "integer"
                            },
                            "total_cents": {
                                "type": "integer"
                            },
                            "status": {
                                "type": "string",
                                "maxLength": 255
                            },
                            "items": {
                                "type": "array",
                                "description": "The optional invoice items (required as soon as an invoice is passed).",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "description": {
                                            "type": "string",
                                            "maxLength": 1024
                                        },
                                        "quantity": {
                                            "type": "number",
                                            "minimum": 0
                                        },
                                        "unit_price_cents": {
                                            "type": "integer"
                                        },
                                        "vat_rate": {
                                            "type": "number",
                                            "minimum": 0
                                        },
                                        "subtotal_cents": {
                                            "type": "integer"
                                        },
                                        "vat_cents": {
                                            "type": "integer"
                                        },
                                        "total_cents": {
                                            "type": "integer"
                                        },
                                        "is_margin_goods": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "description",
                                        "quantity",
                                        "unit_price_cents",
                                        "vat_rate",
                                        "subtotal_cents",
                                        "vat_cents",
                                        "total_cents"
                                    ]
                                },
                                "minItems": 1
                            },
                            "attachments": {
                                "type": [
                                    "array",
                                    "null"
                                ],
                                "description": "Optional invoice attachments, sent as one or more base64 encoded files.",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "filename": {
                                            "type": "string",
                                            "maxLength": 255
                                        },
                                        "content": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "filename",
                                        "content"
                                    ]
                                }
                            }
                        }
                    }
                },
                "required": [
                    "description",
                    "booking_date",
                    "journal_entries",
                    "invoice"
                ],
                "title": "TransactionRegisterRequest"
            }
        },
        "responses": {
            "ValidationException": {
                "description": "Validation error",
                "content": {
                    "application\/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Errors overview."
                                },
                                "errors": {
                                    "type": "object",
                                    "description": "A detailed description of each field that failed validation.",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "required": [
                                "message",
                                "errors"
                            ]
                        }
                    }
                }
            },
            "AuthenticationException": {
                "description": "Unauthenticated",
                "content": {
                    "application\/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Error overview."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            }
        }
    }
}